@import "tailwindcss";

@theme {
  --color-primary: #0a0a0b;
  --color-secondary: #161618;
  --color-card: #1c1c1f;
  --color-accent: #fbbf24;
  --color-text-secondary: #a1a1aa;
  --color-border: #27272a;
  --color-error: #ef4444;
  --color-button: #4f46e5;
  --color-button-hover: #4338ca;
}